@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');

body, html {
    font-family: 'Nunito Sans', sans-serif;
    background: #F3F5F8;
}

.main-block {
    background: #fff;
    margin: 10vh auto 0;
    width: 40%;
    padding: 20px 40px 40px;
    border-radius: 20px;
    &__60 {
        width: 60%;
    }
    @media screen and (max-width: 768px) {
        width: 70%;
    }
    @media screen and (max-width: 576px) {
        width: 90%;
        padding: 20px 20px 40px;
    }
}
